<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>{% include icon-home.html %}</li>
            <li>{% include icon-rss-feed.html %}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- {%- include social.html -%} -->
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %}

          {% if site.twitter_username %}
            <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          {% endif %}

          {% if site.slides_username %}
            <li>{% include icon-slides.html %}</li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>

    <div class="footer-license">
      <p>{{ site.copyright }}</p>
      <p>
        <a href='https://creativecommons.org/licenses/by-sa/4.0/' rel='license'>
          <span>{% include cc_by-sa_4-0_88x31.svg %}</span>
        </a>
      </p>
      <p><a href="{{ site.baseurl }}{% link license-copyright.md %}">{{ site.license_link_text }}</a></p>
      <p>{{ site.powered_by }}</p>
    </div>

  </div>

</footer>
