/*
    Colors from the Base16 Eighties Dark Theme for Atom
    by Chris Maddox (https://github.com/tyre/base16-eighties-dark)

    based on the

    Base16 Eighties Colorscheme by Chris Kempson (http://chriskempson.com)
*/

$base00: #2d2d2d;
$base01: #393939;
$base02: #515151;
$base03: #747369;
$base04: #a09f93;
$base05: #d3d0c8;
$base06: #e8e6df;
$base07: #f2f0ec;

$base08: #f2777a; /* red */
$base09: #f99157; /* orange */
$base0a: #ffcc66; /* yellow */
$base0b: #99cc99; /* green */
$base0c: #66cccc; /* cyan */
$base0d: #6699cc; /* blue */
$base0e: #cc99cc; /* violet */
$base0f: #d27b53; /* magenta */
