@charset "utf-8";


// Colors
$code-background: #2E3440;
$inline-code-background: #F0F0F0;

// Fonts
$body-font-family: LatoLatinWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$title-font-family: "Indie Flower", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family: "IBM Plex Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Import partials.
@import "juliotrigo/layout";
@import "juliotrigo/base";
@import "juliotrigo/syntax-highlighting";
