@charset "utf-8";


// Colors
$code-background: #2E3440;
$inline-code-background: #F0F0F0;

// Fonts
$title-font-family: "Indie Flower", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family: "Ubuntu Mono", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Import partials.
@import "juliotrigo/layout";
@import "juliotrigo/base";
@import "juliotrigo/syntax-highlighting";
