/*
    Colors from the One Dark Pro Theme for VS Code
    by binaryify (https://github.com/Binaryify/OneDark-Pro)

    Based on Atom's One Dark theme
*/

$base00: #282c34; /* Background */
$base01: #2c313c; /* Line highlight */
$base02: #3e4451; /* Selection */
$base03: #7f848e; /* Comments */
$base04: #5c6370; /* Dark foreground */
$base05: #abb2bf; /* Foreground */
$base06: #c8ccd4; /* Light foreground */
$base07: #d7dae0; /* Lightest foreground */

$base08: #e06c75; /* Red - variables, tags */
$base09: #d19a66; /* Orange - numbers, attributes */
$base0a: #e5c07b; /* Yellow - classes, types */
$base0b: #98c379; /* Green - strings */
$base0c: #56b6c2; /* Cyan - operators, regex */
$base0d: #61afef; /* Blue - functions */
$base0e: #c678dd; /* Purple - keywords */
$base0f: #be5046; /* Dark red - deprecated */
