/**
 * Site header
 */
// override this class to remove the border-top
.site-header {
  //border-top: 5px solid $grey-color-dark;
  border-top: 0px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.footer-license {
  @include relative-font-size(0.9375);
  color: $grey-color;
}

// Overrride Minima theme
.site-title {
  @include relative-font-size(2.625);
  font-family: $title-font-family;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 3.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}
