/**
 * Site header
 */
// Override this class
.site-header {
  border-top: 0px solid $grey-color-light;  /* Remove the border-top */
}

// Overrride this class
.site-title {
  @include relative-font-size(2.625);  /* Increase font-size */
  font-family: $title-font-family;  /* Add the font-family */
  line-height: $base-line-height * $base-font-size * 3.25;  /* Add line-height for the title to fit */

  // Added to not decorate the site title like a link
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

/**
 * Site footer
 */
.footer-license {
  @include relative-font-size(0.9375);
  color: $grey-color;
}
